# GREETINGS EVERYONE
For the task of DataVisualization in Tableau we will be using the dataset of Zomato Banglore Restaurants.

You can find the dateset here -> https://www.kaggle.com/code/nkelemen18/starter-zomato-bangalore-restaurants-e22669a4-a
Our goal here is to visualize and extract information based on the past data of orders.

This information can be helpful for upcoming restaurants in Banglore as it will provide critical insights which can help them maximize Profit.

Upon glancing the dataset , we can see that its not as clean as we want so our first task before we can start visualization should be to used the extracted data and transform it for further use

<font color='green'></font>

<font color='green'>Our First step here is to load the dataset and see all the columns available for us to use</font>

In [1]:
import pandas as pd
df = pd.read_csv('zomato.csv')
df.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [2]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [3]:
df.shape

(51717, 17)

<font color='green'> We can see we have data for more than 50,000 orders and we have 17 rows to work with.

<font color='green'>Next we will analyse individual columns to further see if data is of any use to us

In [4]:
print('Number of Unique Values')
print(df.nunique())

Number of Unique Values
url                            51717
address                        11495
name                            8792
online_order                       2
book_table                         2
rate                              64
votes                           2328
phone                          14926
location                          93
rest_type                         93
dish_liked                      5271
cuisines                        2723
approx_cost(for two people)       70
reviews_list                   22513
menu_item                       9098
listed_in(type)                    7
listed_in(city)                   30
dtype: int64

<font color='green'>On First glance columns like url, phone, reviews_list are really not of our use since they have way too many categorical values that cannot be generalized. Even column address since we have column listed_in(city) which captures the area we can afford to remove these columns.
</font>

In [5]:
drop_column = ['url','address','phone','reviews_list']
for i in drop_column:
    df.drop(i,axis=1,inplace=True)

<font color='green'>Now we can check for miscellaneous data , such as null values , or that online_order has only 2 unique values , rating is given only out of 5 </font>

In [6]:
df.isna().sum()

name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

<font color='green'>Firstly we will delete all 21 rows where location is NUll & approx_cost column also, it makes no sense to assume that</font>

In [7]:
df['location'].dropna(how=any,axis=0,inplace=True)

In [8]:
df['approx_cost(for two people)'].dropna(how=any,axis=0,inplace=True)

In [9]:
df['online_order'].value_counts()

online_order
Yes    30444
No     21273
Name: count, dtype: int64

In [10]:
df['book_table'].value_counts()

book_table
No     45268
Yes     6449
Name: count, dtype: int64

In [11]:
df['votes'].value_counts()

votes
0       10027
4        1140
6         992
7         872
9         738
        ...
3673        1
1862        1
3909        1
2155        1
843         1
Name: count, Length: 2328, dtype: int64

In [12]:
df['rate'].value_counts()

rate
NEW       2208
3.9/5     2098
3.8/5     2022
3.7/5     2011
3.9 /5    1874
          ...
2.2 /5       7
2.0 /5       7
2.0/5        4
1.8 /5       3
1.8/5        2
Name: count, Length: 64, dtype: int64

In [13]:
df[df['rate'].isna()].head(2)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city)
84,Chill Out,No,No,NaN,0,Banashankari,Quick Bites,NaN,"South Indian, Chinese",100,[],Delivery,Banashankari
90,Me And My Cake,No,No,NaN,0,Banashankari,Delivery,NaN,"Bakery, Desserts",500,[],Delivery,Banashankari

<font color='green'>We can see that rate column has a lot of rows as NaN ,  basically either a rating was not given or it was not recorded .  We will transform all Null values to 'Not Reported' so as to not lose any information</font>

In [14]:
df.loc[df['rate'].isna(),'rate'] = 'Not Rated'

In [15]:
df['rest_type'].value_counts()

rest_type
Quick Bites                   19132
Casual Dining                 10330
Cafe                           3732
Delivery                       2604
Dessert Parlor                 2263
                              ...
Dessert Parlor, Kiosk             2
Food Court, Beverage Shop         2
Dessert Parlor, Food Court        2
Sweet Shop, Dessert Parlor        1
Quick Bites, Kiosk                1
Name: count, Length: 93, dtype: int64

<font color='green'>Since we dont know the the Type of Restaurant for and the number of records for the same is also low we shall remove the rows with missing values

In [16]:
df['rest_type'].dropna(how='any',axis=0,inplace=True)

<font color='green'>Now, we Can see that a restaurant can have two types together as comma seperated, since this comma seperated types is not of much use to us as during visualization it will be seen as a unique entity , we shall divide it , the approach we shall use is similar to one hot encoding . i.e for each unique type of rest we will have a column, then for every row we shall check the type and whatever type is mentioned be it single or comma seperated value , ww will give a values of 1 in the column for that type

In [17]:
unique_rest_type = set()

for rest in df['rest_type']:
    rest_str = str(rest)
    unique_rest_type.update(rest_str.split(', '))

In [18]:
unique_rest_type

{'Bakery',
 'Bar',
 'Beverage Shop',
 'Bhojanalya',
 'Cafe',
 'Casual Dining',
 'Club',
 'Confectionery',
 'Delivery',
 'Dessert Parlor',
 'Dhaba',
 'Fine Dining',
 'Food Court',
 'Food Truck',
 'Irani Cafee',
 'Kiosk',
 'Lounge',
 'Meat Shop',
 'Mess',
 'Microbrewery',
 'Pop Up',
 'Pub',
 'Quick Bites',
 'Sweet Shop',
 'Takeaway',
 'nan'}

<font color='green'> Now that we have all the unique values of rest_type we will create the columns for them

In [19]:
for rest in unique_rest_type:
    df['rest_type_'+rest]=0

In [20]:
df.head(2)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),...,rest_type_Kiosk,rest_type_Irani Cafee,rest_type_Pop Up,rest_type_Food Court,rest_type_Beverage Shop,rest_type_Dhaba,rest_type_Delivery,rest_type_Bakery,rest_type_nan,rest_type_Bar
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,...,0,0,0,0,0,0,0,0,0,0
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,...,0,0,0,0,0,0,0,0,0,0

<font color='green'> Now we shall enumerate over all the rows get the row id and the rest_type and based on the value of rest_type assign 1 to the respective columns

In [21]:
for i,rest in enumerate(df['rest_type']):
    rest_str = str(rest)
    for x in rest_str.split(', '):
        df.at[i,'rest_type_'+x]=1

In [22]:
df[df['rest_type_Dhaba']==1]

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),...,rest_type_Kiosk,rest_type_Irani Cafee,rest_type_Pop Up,rest_type_Food Court,rest_type_Beverage Shop,rest_type_Dhaba,rest_type_Delivery,rest_type_Bakery,rest_type_nan,rest_type_Bar
1001,Sri Punjabi Dhaba,Yes,No,3.3/5,39,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
2878,PK Dhaba,Yes,No,NEW,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
7323,PK Dhaba,Yes,No,NEW,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
8125,PK Dhaba,Yes,No,NEW,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
8486,Sri Punjabi Dhaba,Yes,No,3.2/5,44,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
9061,PK Dhaba,Yes,No,NEW,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
10170,Harilal ka Bihari Dhaba,Yes,No,NEW,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
10539,Sri Punjabi Dhaba,Yes,No,3.2/5,44,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
16750,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
19591,Sri Punjabi Dhaba,Yes,No,3.3/5,47,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
20192,PK Dhaba,Yes,No,NEW,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
21726,Sri Punjabi Dhaba,Yes,No,3.3 /5,50,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
21928,Sri Punjabi Dhaba,Yes,No,3.3/5,46,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
22415,PK Dhaba,Yes,No,NEW,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
23820,Sri Punjabi Dhaba,Yes,No,3.3/5,46,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
23963,Jai Bhavani Dhaba,Yes,No,3.0/5,52,Nagawara,Dhaba,NaN,"North Indian, Chinese, Seafood",300,...,0,0,0,0,0,1,0,0,0,0
25267,Jai Bhavani Dhaba,Yes,No,3.0/5,52,Nagawara,Dhaba,NaN,"North Indian, Chinese, Seafood",300,...,0,0,0,0,0,1,0,0,0,0
26739,Sri Punjabi Dhaba,Yes,No,3.3/5,49,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
27800,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
28355,Jee Aaya Nu Punjabi Dhaba,No,No,Not Rated,0,Koramangala 4th Block,Dhaba,NaN,North Indian,350,...,0,0,0,0,0,1,0,0,0,0
28635,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
29454,Sri Punjabi Dhaba,Yes,No,3.3 /5,50,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
30861,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
31419,Jee Aaya Nu Punjabi Dhaba,No,No,Not Rated,0,Koramangala 4th Block,Dhaba,NaN,North Indian,350,...,0,0,0,0,0,1,0,0,0,0
31424,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
32355,Sri Punjabi Dhaba,Yes,No,3.3 /5,50,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
33617,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
34149,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
34154,Jee Aaya Nu Punjabi Dhaba,No,No,Not Rated,0,Koramangala 4th Block,Dhaba,NaN,North Indian,350,...,0,0,0,0,0,1,0,0,0,0
34988,Sri Punjabi Dhaba,Yes,No,3.3 /5,50,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
35627,PK Dhaba,Yes,No,Not Rated,0,Marathahalli,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
36378,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
36885,Jee Aaya Nu Punjabi Dhaba,No,No,Not Rated,0,Koramangala 4th Block,Dhaba,NaN,North Indian,350,...,0,0,0,0,0,1,0,0,0,0
37272,Harilal ka Bihari Dhaba,Yes,No,Not Rated,0,Koramangala 1st Block,Dhaba,NaN,"North Indian, Bihari",250,...,0,0,0,0,0,1,0,0,0,0
37536,Sri Punjabi Dhaba,Yes,No,3.3 /5,50,BTM,Dhaba,NaN,North Indian,400,...,0,0,0,0,0,1,0,0,0,0
39198,Punjabi Dhaba,No,No,3.6 /5,79,Majestic,Dhaba,"Naan, Rumali Roti",North Indian,350,...,0,0,0,0,0,1,0,0,0,0
41021,PK Dhaba,Yes,No,Not Rated,0,Brookefield,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
41706,PK Dhaba,Yes,No,Not Rated,0,Brookefield,Dhaba,NaN,"North Indian, Fast Food, Beverages",250,...,0,0,0,0,0,1,0,0,0,0
51277,Om Sai Punjabi Dhabha,Yes,No,3.4 /5,10,Whitefield,Dhaba,NaN,North Indian,250,...,0,0,0,0,0,1,0,0,0,0
51278,Aishwarya,No,No,3.3 /5,6,Whitefield,Dhaba,NaN,"Chinese, North Indian",450,...,0,0,0,0,0,1,0,0,0,0

<font color = 'green'>In this example we can see that when rest_type == Dhaba our new column rest_typeClub has a value of 1, GREAT GOOD JOB!! One Step Closer  
    
<font color = 'green'>Moving forward to dish_liked

In [23]:
df['dish_liked'].isna().sum()

28078

<font color = 'green'> With around 28,000 rows of Null value it is important to look at this , basically we can assume that no dish was liked at the restuarant , so we shall convert all Null values to 'None'

In [24]:
df['dish_liked'].fillna('None',inplace=True)

In [25]:
df['dish_liked'].value_counts()

dish_liked
None                                                                                                 28078
Biryani                                                                                                182
Chicken Biryani                                                                                         73
Friendly Staff                                                                                          69
Waffles                                                                                                 68
                                                                                                     ...
Butter Chicken, Shawarma Roll, Chicken Shawarama, Chicken Grill, Rolls, Al Faham Chicken, Biryani        1
Filter Coffee, Sandwich, Bonda, Vada, Masala Dosa, Salad, Aloo Curry                                     1
Burgers, Fries, Jumbo Royale Burger, Salads, Peri Peri Chicken Salad, Potato Wedges, Rolls               1
Chaat, Pav Bhaji, Raj Kachori, Buttermilk, Ajwaini Paratha, Tawa Pulav, Sev Puri                         1
Paratha, Dal Makhani, Lassi, Naan, Veg Thali, Chole, Kulcha                                              1
Name: count, Length: 5272, dtype: int64

<font color='green'> With this column the same problem arises of dishes being mentioned as comma seperated so we shall perform the same task of creating diff columns for each dish as a whole

In [26]:
unique_dishes = set ()

for i in df['dish_liked']:
    dish_str = str(i)
    unique_dishes.update(dish_str.split(', '))

In [27]:
len(unique_dishes)

2793

In [28]:
unique_dishes

{'Palak Chicken',
 'Galauti Kebab',
 'Veg Mushroom',
 'Mutton Fry',
 'Chicken Chatpata',
 'Espresso',
 'Gur Ice Cream',
 'Doner Kebabs',
 'Buffalo Wings',
 'Sweet Pongal',
 'Nalli Nihari',
 'Masala Buttermilk',
 'Kadhai Mushroom',
 'Dum Ka Chicken',
 'Mughlai Chicken',
 'Cheese Dabeli',
 'Chilli Bhajji',
 'Mediterranean Platter',
 'Florentine Omelette',
 'Coconut Rice',
 'Chicken Drumsticks',
 'Baingan Bharta',
 'Breads',
 'Chicken Teriyaki Bao',
 'Truffle',
 'Mixed Fried Rice',
 'Benne Khali Dosa',
 'Orange Mousse',
 'Gong Bao Chicken',
 'Brownie Fudge',
 'Mushroom Bruschettas',
 'Paneer Roll',
 'Cafe Mocha',
 'Bun Nippat Cheese',
 'Pallipalayam Chicken',
 'Oreo Delight',
 'Pulled Pork Burger',
 'Chocolate Fondue',
 'American Chopsuey',
 'Tomato Chicken',
 'Garlic Maggi',
 'King Prawns',
 'Puttu Biryani',
 'Mexican Platter',
 'Mango Roll',
 'Rasam Rice',
 'Hummus Pita',
 'Chicken Parantha',
 'Chocolate Chip Waffle',
 'Idli',
 'Tamatar Ka Shorba',
 'Cheese Maggi',
 'Masala Tea',
 'Stuffed Chicken Breast',
 'Mutton Liver Fry',
 'Corn Sandwich',
 'Mini Tacos',
 'Kaju Katli',
 'Cheese Garlic Naan',
 'Ferrero Rocher Ice Cream',
 'Rajma Rice',
 'Peri Peri Paneer Pizza',
 'Chicken Chilli Pizza',
 'Grilled Lamb Burger',
 'Bbq Pork Ribs',
 'Masala Papad',
 'Mutton Roganjosh',
 'Belgium Chocolate',
 'Americano',
 'Choco Brownie Shake',
 'Chicken Fajita',
 'Thandai',
 'Mexican Fries',
 'Tangdi Chicken',
 'Tomato Basil Pasta',
 'Zafrani Mutton Biryani',
 'Brownie Sundae',
 'Monster Pizza',
 'Naga Thali',
 'Raagi Dosa',
 'Club Sandwich',
 'Non Veg Thali',
 'Fruit Cream',
 'Egg Puff',
 'Aloo Poori',
 'Coconut Mousse',
 'Hara Bhara Kebab',
 'Onion Raita',
 'Crepe',
 'Mango Lassi',
 'Bulgogi',
 'Baked Yogurt',
 'Cheese Cutlet',
 'Jumbo Lassi',
 'Shakshouka',
 'Tenderloin Burger',
 'Chicken Donburi',
 'Diwani Handi',
 'Blueberry Mousse',
 'Arabian Grape Juice',
 'Chocolate Devotion',
 'Egg Fried Rice',
 'Chicken Jumbo Burger',
 'Gol Gappe',
 'Stuffed Kulcha',
 'Ice Cream Strawberry',
 'Coke Float',
 'Prawn Pepper Fry',
 'Rose Tea',
 'Chicken Keema',
 'Blueberry Cheesecake',
 'Tandoori Aloo',
 'Sweet Kachori',
 'Crab Fry',
 'Seaweed Salad',
 'Caramelized Bananas',
 'Malacca Curry',
 'Fruit Ice Cream',
 'Paneer Mirch Masala',
 'Oreo Thick Shakes',
 'Peas Pulao',
 'Veg Extravaganza Pizza',
 'Paneer Tikka Biryani',
 'Egg Burger',
 'Hunan Chicken',
 'Roasted Almonds',
 'Red Velvet Cake',
 'Spinach Pizza',
 'Paneer Sizzler',
 'Tawa Mutton',
 'Tomato Ragout',
 'Malabari Biryani',
 'Dimsum Platter',
 'Crispy Noodle',
 'Chilli Pork',
 'Fruit Lassi',
 'Chilli Basil Chicken',
 'Vegetable Dimsums',
 'Crackling Spinach',
 'Eclair',
 'Babaganush',
 'Watermelon Feta Salad',
 'Veg Sushi Platter',
 'Medu Vada',
 'Cajun Potato',
 'Chicken Sekuwa',
 'Thai Salad',
 'Ice Tea',
 'Pyaz Kachori',
 'Pizza Fries',
 'Chocolate Overload',
 'Almond Crunch',
 'Thalassery Dum Biriyani',
 'Tandoori Fish',
 'Yoghurt Shake',
 'Chicken Handi',
 'Bhatti Ka Murgh',
 'Samosa Soup',
 'Ghee Roast Masala Dosa',
 'Tandoori Broccoli',
 'Hyderabadi Dum Biryani',
 'Seekh Kebab',
 'Podi Idli',
 'Ginger Chai',
 'Pizza Crispy Crunch',
 'Veg Pulao',
 'Grape Juice',
 'Strawberry Daiquiri',
 'Paneer Tikki',
 'Pasta Sizzler',
 'Fudge Sundae',
 'Cookie Crunch',
 'Bloody Mary',
 'Open Dosa',
 'Thick Milkshake',
 'Goan Fish Curry',
 'Crab Cake',
 'Mousse Cup',
 'Baked Nacho',
 'Chicken Keema Paratha',
 'Beef Shaptak Dry',
 'Lemonade',
 'Pili Pili Pizza',
 'Chicken Quesadilla',
 'Ande Ka Funda',
 'Cream Cake',
 'Chicken Shawarama',
 'Red Rice',
 'Rich Chicken Broth',
 'Chicken Butter Garlic',
 'Banana Leaf Fish',
 'Stuffed Garlic Bread',
 'Paneer Manchurian',
 'Dessert Platter',
 'Seafood Ravioli',
 'Aloo Tikki Chole',
 'Memon Mutton Biryani',
 'Chicken Burger',
 'Charcoal Chicken',
 'Murgh Platter',
 'Pudina Paratha',
 'Andhra Thali',
 'Chicken Mayo Sandwich',
 'Lahori Chicken',
 'Egg Devils',
 'Chicken Pakora',
 'Bruschetta Bites',
 'Fruit Parfait',
 'English Breakfast',
 'Cheese Corn Balls',
 'French Fries',
 'Chicken Cutlet',
 'Mozzarella Sticks',
 'Nolen Gur',
 'Chicken Bruschetta',
 'Barfi',
 'Biskoot Roti',
 'Seafood Salad',
 'Veg Momos',
 'Firewood Biryani',
 'Litchi Cake',
 'Lamb Kebab',
 'Prawn Sushi',
 'Lemon Soda',
 'Non Veg Biryani',
 'Spicy Crabmeat Soup',
 'Boondi Raita',
 'Maki Roll',
 'Coconut Souffle',
 'Pineapple Cake',
 'Peri Chicken',
 'Corn Pizza',
 'Hot Choco Fudge',
 'Mutton Thali',
 'Chocolava Cake',
 'Potato Twister',
 'Yaki Soba',
 'Masala Vada',
 'Bread Pudding',
 'Mudcake',
 'Butterscotch Shake',
 'Chicken Bhuna Roll',
 'Brownie Chocolate',
 'Masala Pav Bhaji',
 'Sweet Lime',
 'Cheesy Maxx Pizza',
 'Chicken Kalimirch',
 'Banana Walnut Cake',
 'Uddin Vada',
 'Milk Shake',
 'Yakhni Pulao',
 'Khali Dosa',
 'Beef Nachos',
 'Mysore Masala Dosa',
 'Nalli Fry',
 'Veg Kolhapuri',
 'Butter Garlic Prawns',
 'Garden Salad',
 'Mutton Seekh',
 'Custard Apple',
 'Veg Buffet',
 'Egg Maggi',
 'Potato Wrap',
 'Cappuccino',
 'Paneer Malai Tikka',
 'Veg Dim Sums',
 'Banana Nutella',
 'Egg Tadka',
 'Dabeli',
 'Kanda Bhajiya',
 'Mayo Sandwich',
 'Tofu Teriyaki',
 'Pudina Lassi',
 'Chorizo Pav',
 'Pav Bhaji Fondue',
 'Hyderabadi Style Biryani',
 'Jal-jeera',
 'Cajun Chicken',
 'Aloo Sandwich',
 'Mutton Seekh Kebab',
 'Pink Sauce Pasta',
 'Crispy Babycorn',
 'Banana Walnut',
 'Butter Tea',
 'Rava Idli',
 'Masala Lassi',
 'Reshmi Kebab',
 'Gujarati Food',
 'Banana Caramel',
 'Chicken Tikka Wrap',
 'Andhra Style Chilli Chicken',
 'Cinnamon Tea',
 'Dal Kichadi',
 'Andhra Chilli Chicken',
 'Meatballs',
 'Chicken Tom Yum Soup',
 'Samosa',
 'Paneer Methi Malai',
 'Roast Beef Sandwich',
 'Basil Smoothie',
 'Baked Bread',
 'Pancakes',
 'Sizzler Brownie',
 'Jumbo Chicken',
 'Strawberry Cheesecake',
 'Chicken Kebab Roll',
 'Paneer Zinger Burger',
 'Dahi Papadi Chaat',
 'Blueberry Muffin',
 'California Burrito',
 'Rainbow Pastry',
 'Oreo Mcflurry',
 'Blueberry Cheese Cake',
 'Mutton Steak',
 'Chicken Whopper',
 'Kullad Chai',
 'Caramel Frappuccino',
 'Hot Chocolate',
 'Cheese Chilli Toast',
 'Veg Dosa',
 'Malai Korma',
 'Shawarma',
 'Idli Vada',
 'Cajun Fries',
 'Mexican Rice',
 'Khara Bhath',
 'Tandoor Chicken Burger',
 'Mushroom Ghee Roast',
 'Caramel Ice Cream',
 'Chocolate Almond',
 'Dj',
 'Pudina Chicken',
 'Aloo Paratha',
 'Masala Maggi',
 'Chenin Blanc',
 'Biryani Combo',
 'Oreo Waffle',
 'Wasabi Prawns',
 'Egg Roast',
 'Swiss Roll',
 'Bamboo Biryani',
 'Muradabadi Biryani',
 'Gooey Chocolate Cupcake',
 'Paneer Pakora',
 'Paya Shorba',
 'Chicken Kshatriya',
 'Manchurian Roll',
 'Chicken Malai Tikka',
 'Pizza Parantha',
 'Veg Cheese Sandwich',
 'Ulavacharu Mutton Biryani',
 'Rajugari Kodi Pulao',
 'Beer',
 'Shaadi Ki Biryani',
 'Ghee Dosa',
 'Schezwan Chicken',
 'Gosht Biryani',
 'Hariyali Kebab',
 'Caramel Coffee',
 'Cold Coffee',
 'Bharwan Mushroom',
 'Chocolate Peanut Butter',
 'Banana Fritters',
 'Fritters',
 'Waffle Cone',
 'Pan Shot Ice Cream',
 'Spaghetti',
 'Mocha Waffle',
 'Custard',
 'Protein Smoothie',
 'Kadak Chai',
 'Chocolate Gateau',
 'Chicken Thukpa',
 'Chicken Thupka',
 'Red Velvet Shake',
 'Cheese Croquettes',
 'Fruit Truffle',
 'Set Menu',
 'Peri Peri Chicken Salad',
 'Chicken 65',
 'Veg Nachos',
 'Steam Chicken Momos',
 'Egg Sandwich',
 'Beetroot Payasam',
 'Papaya Juice',
 'Rava Dosa',
 'Roast Mutton',
 'Spring Chicken',
 'Kiwi Ice Tea',
 'Mughlai Biryani',
 'Au Gratin',
 'Treasure Soup',
 'Beef Kabab',
 'Hazelnut Ice Cream',
 'Butterfly Chicken',
 'Roti',
 'Virgin Mojito',
 'Creamy Vanilla Ice Cream',
 'Kesaria Lassi',
 'Chicken Paprika',
 'Crab Butter',
 'Mc Veggie',
 'Mutton Keema',
 'Dhokar Dalna',
 'Mint Lemonade',
 'Idli Sambar',
 'Velvet Crunch',
 'Mirch Ka Saalan',
 'Chicken Reshmi Tikka Roll',
 'Stuffed Paratha',
 'Mango Waffles',
 'Noodles',
 'Seafood Pizza',
 'Donne Chicken Biryani',
 'Rasmalai',
 'Veg Maggi',
 'Fried Rice',
 'Peppy Paneer Pizza',
 'Detox Smoothie',
 'Whopper Burger',
 'Brownie',
 'Popcorn',
 'Masala Pepsi',
 'Tomato Masala',
 'Veg Hakka Noodles',
 'Fish Kebab',
 'Karela Salad',
 'Paneer Angara',
 'Naan',
 'Mango Ice Cream',
 'Lemongrass Chicken',
 'Fish Chilli',
 'Choco Chip Cookies',
 'Club Chicken Sandwich',
 'Chicken Fiesta',
 'Dessert Pizza',
 'Chicken Fries',
 'Veg Cheese Burger',
 'Fish Thali',
 'Mutton Rezala',
 'Pita Pocket',
 'Egg Wrap',
 'Kheer Kadam',
 'Daal Baati Churma',
 'Protein Chapati',
 'Laccha Paratha',
 'Banana Crepes',
 'Nutella Pancakes',
 'Pepper Pizza',
 'Aloo Pyaz Paratha',
 'Bbq Pork',
 'Maharaja Chicken Burger',
 'Paneer Pasanda',
 'Aloo Matar',
 'Onion Rava Masala Dosa',
 'Chinese Sizzlers',
 'Chocolate Avalanche',
 'Pizza Sandwich',
 'Mcspicy Chicken Burger',
 'Veggie Roll',
 'Cheese Momos',
 'Blueberry Waffles',
 'Mixed Sauce Pasta',
 'Pinacolada',
 'Chaat Platter',
 'Bamboo Chicken Biryani',
 'Coffee Shake',
 'Quinoa Salad',
 'Red Snapper',
 'Ice Cream Sizzler',
 'Chocolate Biscuit',
 'Mochi Ice Cream',
 'Meat Curry',
 'Chocolate Raspberry Cake',
 'Sweet Dal',
 'Ice Cream Roll',
 'Cheese Naan',
 'Kimchi',
 'Apollo Fish',
 'Creamy Mushroom Pasta',
 'Burgers',
 'Veg Pattice',
 'Doi Katla',
 'Rice Bowl',
 'Crab Burger',
 'Onion Rings',
 'Potato Curry',
 'Roasted Chilli',
 'Dhania Chicken',
 'Chicken Nachos',
 'Coriander Chicken',
 'Veg Fried Rice',
 'Shawarma Roll',
 'Pork Rice',
 'Baklava',
 'Crispy Fried Chicken',
 'Palak Paneer',
 'Karimeen Fry',
 'Hot Gulab Jamun',
 'Palak Paneer Paratha',
 'Chocolate Thickshake',
 'Tandoori Chicken',
 'Garlic Chicken',
 'Paneer Subz Biryani',
 'Chicken Chips',
 'Chicken Chettinad',
 'Kokum Sharbat',
 'Buffalo Chicken Wings',
 'Samosa Bun',
 'Chilli Paneer',
 'Sausage Roll',
 'Mango Mascarpone Gateau',
 'Soup Dumplings',
 'Lauki Ka Halwa',
 'Double Chocolate Cookie',
 'Paneer Dosa',
 'Crab Toast',
 'Kathi Roll',
 'Beef Hash',
 'Corn Paratha',
 'Nutella Cheesecake',
 'Nasi Goreng',
 'Diced Chicken',
 'Tuna Sashimi',
 'Choco Death',
 'Malai Chaap',
 'Lung Fung Soup',
 'Soba Noodles',
 'Aloo Posto',
 'Pad Thai Noodle',
 'Bella Coffee',
 'Tandoori Pomfret',
 'Punjabi Kulcha',
 'Aloo Samosa',
 'Roasted Pork',
 'Masoor Dal',
 'Lamb Chops',
 'Katla Kalia',
 'Mango Cheesecake',
 'Fried Fish',
 'Egg Soup',
 'Chicken Kebab Biryani',
 'Smokey Marzano Pizza',
 'Cheese Burst Pizza',
 'Fruit Tea',
 'Bun Butter Jam',
 'Manchurian Samosa',
 'Millet Pizza',
 'Chicken Rezala',
 'Chicken Butter Masala',
 'Chelo Kebab',
 'Patthar Ka Gosht',
 'Pavbhaji Pizza',
 'Crispy Honey Chilli Chicken',
 'Raspberry Sorbet',
 'Prawn Pizza',
 'Caramel Eclair',
 'Chicken Gyoza',
 'Lemon Rice',
 'Shahi Biryani',
 'Pasta Barbaresca',
 'Chicken Dry Fry',
 'Veg Puff',
 'Noodle Soup',
 'Chicken Ham',
 'Fruit Bowl',
 'Sesame Chicken',
 'Chicken Chukka',
 'Amritsari Paneer',
 'Tomato Soup',
 'Thalassery Biryani',
 'Nitrogen Ice Cream',
 'Beef Shwarma',
 'Nizami Biryani',
 'Cosmopolitan',
 'Oreo Cheesecake',
 'Caramel Cheesecake',
 'Dahi Aloo Puri',
 'Hot Wings',
 'Hefeweizen',
 'Chicken Salami',
 'Almond Ice Cream',
 'Cookie Monster Shake',
 'Caramel Cake',
 'Choco Mocha',
 'Gulkand Chai',
 'Lamb Burger',
 'Smoked Pork Thali',
 'Cheese Masala Dosa',
 'Chocolate Pancakes',
 'Afghan Chicken',
 'Aloo Tikki',
 'Gajar Ka Halwa',
 'Mutton Keema Masala',
 'Nati Biryani',
 'Coorg Pandi Pizza',
 'Pesarattu',
 'Pongal',
 'Fish Biryani',
 'Spinach Curry',
 'Butter Garlic Momos',
 'Vada Curry',
 'Anjal Masala Fry',
 'Mocha Frappuccino',
 'Coffee Ice Cream',
 'Dahi Bhalle',
 'Blueberry Shake',
 'Pan Cake',
 'Paneer Steak',
 'Tender Coconut Ice Cream',
 'Blackcurrant Shake',
 'Jalebi Rabri',
 'Paneer Sandwich',
 'Aloo Gobhi Masala',
 'Chocolate Volcano',
 'Banana Waffles',
 'Andhra Biryani',
 'Palak Chaat',
 'Belgian Chocoholic',
 'Stuffed Chicken',
 'Tawa Chicken',
 'Bamboo Shoot Pork',
 'Chicken Varuval',
 'Paneer Fried Rice',
 'Coffee Craze',
 'Salad',
 'Meetha Paan',
 'Chicken Thali',
 'Irani Chai',
 'Red Velvet Cheesecake',
 'Potato Salad',
 'Ratatouille',
 'Peri Peri Pizza',
 'Chicken Fry',
 'Pork Thali',
 'Shawarma Burger',
 'Alpham Chicken',
 'Dahi Baigan',
 'Honey Chilli Fries',
 'Veg Ball Manchurian',
 'Butter Dosa',
 'Veg Burger',
 'Risotto',
 'Lunch Thali',
 'Legendary Arsalan',
 'Chicken Schnitzel',
 'Chocolate Pani Puri',
 'Egg Pakora',
 'Farsan',
 'Tempura',
 'Peri Peri Sizzler',
 'Bellini',
 'Punjabi Veg Thali',
 'Tom Yum Prawn',
 'Kokum Juice',
 'Paneer Malai Kofta',
 'Duck Roast',
 'Stir Fried Noodles',
 'Veg Thali',
 'Baklava Ice Cream',
 'Kurkure Pizza',
 'Hatti Samosa',
 'Bhaji Dosa',
 'Vanilla Ice Cream',
 'Baingan Bartha',
 'Mutton Dhansak',
 'Hibiscus Tea',
 'Sweet Corn Chicken Soup',
 'Kaffir Lime',
 'Beef Momo',
 'Chocolate Momos',
 'Fish Masala Fry',
 'Cinnamon Roll',
 'French Toast',
 'Caesar Salad',
 'Thai Wings',
 'Kshatriya Kebab',
 'Grilled Wings',
 'Sushi Bar',
 'Cheese Roll',
 'Juicy Momos',
 'Poha',
 'Hazelnut Latte',
 'Malpua',
 'Begun Pora',
 'Chicken Peri Peri Sizzler',
 'Paneer Peri Peri',
 'Raspberry Mojito',
 'Chettinad Pizza',
 'Pearl Milk Tea',
 'Chicken Peri Peri Kebab',
 'Triple Choco Chip',
 'Marwai Sukka',
 'Triple Sundae',
 'Cheese Sandwiches',
 'Kutchi Dabeli',
 'Roast Chicken Sub',
 'Paratha',
 'Chicken Egg Roll',
 'Paneer Puff',
 'Radhaballavi',
 'Avocado Toast',
 'Sake',
 'Peanut Butter Milkshake',
 'Ambur Biryani',
 'Chocolate Churros',
 'Meat Eater Pizza',
 'Peri Peri Chicken Burger',
 'Tiranga Paratha',
 'Fruit Custard',
 'Roast Pork Chilli',
 'Bengali Style Biryani',
 'Chingri Malai Curry',
 'Paneer Tikka Masala',
 'Cheese Kurkuri',
 'Salsa',
 'Bun Maskas',
 'Burger Combo',
 'Chocolate Sandwich',
 'Empanadas',
 'Thukpa Soup',
 'Martini',
 'Sugarcane Juice',
 'Mutton Roll',
 'Crispy Honey Chicken',
 'Veg Starter',
 'Patata Bravas',
 'Missi Rotis',
 'Chicken Mayo',
 'Chocolate Truffle Sensation',
 'Big Daddy Burger',
 'Madagascar Chocolate',
 'Pork Chilli',
 'Blueberry Pancakes',
 'Jumbo Chicken Roll',
 'Passion Fruit Juice',
 'Pizza Burger',
 'Chicken Whopper Burger',
 'Keema Biryani',
 'Tequila',
 'Bbq',
 'Choco Hazelnut',
 'Malaysian Noodles',
 'Mushroom Salad',
 'Pink Lemonade',
 'Mla Dosa',
 'Paan Shake',
 'Matar Paneer',
 'Jalapeno Cheese Poppers',
 'Pork Fry',
 'Nawabi Pizza',
 'Chicken Spring Rolls',
 'Nachos',
 'Chicken Malhooth',
 'Bang Bang Chicken',
 'Long Island Iced Tea',
 'Cheesy Chicken Burger',
 'Egg Bhurji',
 'Fire Shots',
 'Hunan Tofu',
 'Rumali Roti',
 'Chocolate Mocha',
 'Crispy Chilli Potatoes',
 'Jeera Rice',
 'Belgium Waffles',
 'Chicken Masala',
 'Pepper Prawns',
 'Chinese Bhel',
 'Sangria',
 'Fruit Shake',
 'Railway Mutton Curry',
 'Tempura Prawns',
 'Misal Pav',
 'Mustard Fish Curry',
 'Mapo Tofu',
 'Kozhi Biryani',
 'Sweet Potato Latte',
 'Crispy Corn',
 'Bati Churma',
 'Bheja Fry',
 'Buddha Bowl',
 'Irish Coffee Cream',
 'Methi Paratha',
 'Tai Pai Chicken',
 'Pav Bhaji Dosa',
 'Chicken Tikka',
 'Ferrero Rocher Shake',
 'Wheat Beer',
 'Egg Pav Bhaji',
 'Vegetable Biryani',
 'Steamed Rice',
 'Mutton Pepper',
 'Sol Kadhi',
 'Kadhai Paneer',
 'Pork Meat',
 'Kaaram Biryani',
 'Rajma Masala',
 'Mutton Stew',
 'Corn Augratin',
 'Meen Pollichathu',
 'Plain Rice',
 'Arabian Pulpy Grape Juice',
 'Octopus Takoyaki',
 'Lemongrass Mocktail',
 'Cheese Pasta',
 'Chicken Breast',
 'Verdure Pizza',
 'Ferrero Rocher',
 'Cheesy Pizza',
 'Chilli Garlic Noodles',
 'Green Tea',
 'Paneer Tikka Roll',
 'Cup Cake',
 'Belgian Dark Chocolate',
 'Cutting Chai',
 'Bonda',
 'Ghee Roast Dosa',
 'Fries',
 'Chicken Malai Roll',
 'Prawn Ravioli',
 'Cheese Fatayer',
 'Beef Salad',
 'Sheermal',
 'Caramel Macchiato',
 'Murgh Khurchan',
 'Honey Cake',
 'Lemon Basil Chicken',
 'Gobhi Pakoda',
 'Whopper Meal',
 'Brinjal Curry',
 'Vegetable Moussaka',
 'Tokri Chaat',
 'Chaat',
 'Choco Brownie',
 'Tacos',
 'Bagel',
 'Chocolate Doughnut',
 'Salt Lassi',
 'Burger Meal',
 'Shephards Pie',
 'Avocado Ice Cream',
 'Greek Salad',
 'Kunafa',
 'Orange Juice',
 'Singapore Sling',
 'Ragi Mudde',
 'Keema Pav',
 'Beef Bulgogi',
 'Ramen Soup',
 'Choco Lash',
 'Kodi Pulao',
 'Kebab Biryani',
 'Cut Fruits',
 'Saffron Kahwa',
 'Chilli Cheese',
 'Chicken Kebab',
 'Schezwan Fried Rice',
 'Dal Tadka',
 'Crispy Chilli Babycorn',
 'French Omelette',
 'Zinger Burger',
 'Poori Bhaji',
 'Bacon Fry',
 'Kiwi Mojito',
 'Mutton Pasanda',
 'Chamcham',
 'Badami Kheer',
 'Strawberry Sorbet',
 'Tender Coconut Kulfi',
 'Bamboo Rice',
 'Masala Kulcha',
 'Veg Supreme Pizza',
 'Tortilla Chips',
 'Mushroom Noodles',
 'Lebanese Shawarma',
 'Chicken Stroganoff',
 'Carrot Halwa',
 'Strawberry Smoothie',
 'Ginger Pork',
 'Irani Chicken Tikka',
 'Ice Cream Pizza',
 'Mutton Curry',
 'Mutton Kanti',
 'Crispy Pork',
 'Kashmiri Pulao',
 'Veg Sushi',
 'Puri Saagu',
 'Belgian Fries',
 'Hawaian Pizza',
 'Velvet Cake',
 'Ghee Khali Dosa',
 'Melted Chocolate',
 'Brownie Shake',
 'Lemongrass Tea',
 'Lamb Pizza',
 'Banana Toffee Cheesecake',
 'Aglio Olio Pasta',
 'New Zealand Lamb Chops',
 'Thai Chicken Salad',
 'Liti Chokha',
 'Chicken Pot Pie',
 'Primavera',
 'Panner Tikka',
 'Kesar Pista Kulfi',
 'Tirupathi Pongal',
 'Tandoori Murgh Masala',
 'Chicken Kudu Roll',
 'Crispy Lotus Stem',
 'Punjabi Lassi',
 'Peshawari Paneer',
 'Choco Almond',
 'Chocolate Malt',
 'Benne Masala Dosa',
 'Mutton Pulao',
 'Jalapeno Nuggets',
 'Mushroom Tikka',
 'Malai Kofta',
 'Hyderabadi Chicken Biryani',
 'Mexican Samosa',
 'Stuffed Pomfret',
 'Hyderabadi Mutton Biryani',
 'Tender Coconut Souffle',
 'Mutton Varuval',
 'Schezwan Sizzler',
 'Pork Ribs',
 'Masala Tikka',
 'Tabakh Maaz',
 'Chicken Keema Roll',
 'White Pasta',
 'Chicken Sholay',
 'Jasmine Tea',
 'Courteous Staff',
 'Penne Pasta',
 'Tandoori Momos',
 'Shami Kebab',
 'Chicken Crisp Burger',
 'Lobster Risotto',
 'Butter Phulkas',
 'Mushroom Risotto',
 'Chicken Hakka Noodles',
 'Misal',
 'Chocolate Hazelnut',
 'Chocolate Hazelnut Mousse',
 'Caramel Chocolate',
 'Pane Pizza',
 'Malabar Fish Curry',
 'Spicy Tuna Roll',
 'Deluxe Punjabi Thali',
 'Pulled Beef Burger',
 'Veg Samosa',
 'Grand Thali',
 'Coffee Walnut',
 'Sunday Morning Breakfast',
 'Gulab Jamun',
 'Tender Coconut Payasam',
 'Ghamandi Lassi',
 'Crispy Dosa',
 'Tandoori Chai',
 'Mishti Doi',
 'Juicy Lamb Burger',
 'Chocolate Sizzler',
 'Wine Sauteed Mushrooms',
 'Spinach Salsa',
 'Red Velvet Waffle',
 'Faluda',
 'Tender Coconut Pudding',
 'Chicken Litti',
 'Malai Broccoli',
 'Bhatti Chicken',
 'Clear Soup',
 'Fajita',
 'Chicken Burritos',
 'Thin Crust Pizza',
 'Pho',
 'Crab Ghee Roast',
 'Ladoo',
 'Garlic Butter Noodle',
 'Wheat Momo',
 'Bonda Soup',
 'Chicken Chunks',
 'Cucumber Salad',
 'Fruit Juices',
 'Haleem',
 'Nepali Thali',
 'Reshmi Tikka Roll',
 'Miso Salad',
 'Iced Tea',
 'Poha Jalebi',
 'Berry Pulao',
 'Chilli Cheese Fries',
 'Mushroom Ragout',
 'Pineapple Grill',
 'Pesto Pizza',
 'Corn Balls',
 'Vegetable Paratha',
 'Fish Tikka',
 'Minestrone Soup',
 'Garlic Bread Stick',
 'Maki Sushi',
 'Mutton Sukha',
 ...}

<font color='Green'>It makes absolutely no sense to compute additional 2793 rows for visualization , so we shall create a temporary df in which we will create these one hot encoding columns and we will sort them based on count and take the number of columns that make most sense

In [30]:
df_dishes = df['dish_liked'].str.get_dummies(sep=',')

In [31]:
df_dishes

,Aalo Bhaja,Aam Panna,Aamras,Abbabi Chicken,Achari Chicken,Achari Mushroom,Achari Paneer,Adrak Ke Panje,Afghan Chicken,Afghani Biryani,...,Watermelon Juice,Wedges,Wheat Beer,White Pasta,Whole Meat Shawarma,Wine,Wings,Wonton,Wood Fire Pizza,Zinger Burger
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51713,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<Font color='green'>Now we have the columns ready and we shall pick the top 51 columns where the sum is largest which basically means the the dishes which were ordered the most and concat to our main df , further we should remove the joint dish_liked column from our df

In [32]:
top_dishes = df_dishes.sum().nlargest(51)
df_top_dishes = df_dishes[top_dishes.index]
df = pd.concat([df, df_top_dishes], axis=1)

# Drop the original "dish_liked" column if needed
df.drop('dish_liked', axis=1, inplace=True)
df.drop('None', axis=1, inplace=True)

In [33]:
df.drop('cuisines', axis=1, inplace=True)
df.drop('menu_item', axis=1, inplace=True)

In [34]:
df.to_csv('zomato_transform.csv',index=False)